.suo
Browse.VC.db
x64/
IDE_Slap.VC.db
IDE_Slap.VC.VC.opendb
.vs/IDE_Slap/v15/Browse.VC.opendb
.vs/IDE_Slap/v15/ipch/AutoPCH/2dfe589224626055/SFILEMANAGER.ipch
.vs/IDE_Slap/v15/ipch/AutoPCH/8bc1911ade021ce2/SMAINWINDOWFILEMENU.ipch
.vs/IDE_Slap/v15/ipch/AutoPCH/fdd4e4c5007edcc2/IDE_SLAP.ipch
.vs/IDE_Slap/v15/Browse.VC.db
.vs/IDE_Slap/v15/.suo~135554d6293b549302dac7cc0c6c4e5fc6448d41
.vs/IDE_Slap/v15/Browse.VC.db~135554d6293b549302dac7cc0c6c4e5fc6448d41
.vs/IDE_Slap/v15/ipch/AutoPCH/6010064bf1c6893d/SFILEMANAGER.ipch
.vs/IDE_Slap/v15/ipch/AutoPCH/f54b1d22a97c313a/IDE_SLAP.ipch
source/IDE_Slap_BACKUP_15064.cpp
source/IDE_Slap_BASE_15064.cpp
source/IDE_Slap_LOCAL_15064.cpp
source/IDE_Slap_REMOTE_15064.cpp
